body {
    background-color: #c3cfe2;    
    .parent {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-auto-flow: row;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        }
    .foto {
        width: 500px;
        height: 500px;
    }
}
@media (max-width: 1224px) {
    .parent {
        grid-template-columns: repeat(2, auto);
        grid-auto-flow: row;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        }
    }



