    @mixin childPosition {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        font-size: 3em;

    }

body {
    .child1 {
        background-color: red;
    }
    background-color: #c3cfe2;    
    .parent {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-auto-flow: row;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        position: relative;
        }
    .foto {
        position: relative;
        width: 500px;
        height: 500px;
        &:hover {
            transition: opacity .7s ease-in-out;
            opacity: 0.1;
    }
            
}
}

.child1 {
    position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        font-size: 3em;
}

@media (max-width: 1224px) {
    body {
     .parent {
         background-color: red;
         grid-template-columns: repeat(2, auto);
         grid-auto-flow: row;
         grid-column-gap: 5px;
         grid-row-gap: 5px;
         }
     }
 }



